@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Serif+KR:wght@200..900&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.kr {
	font-family: 'Noto Serif KR', serif;
	color: $font-color-default;
}

.en {
	font-family: 'Cormorant Garamond', serif;
	font-weight: 400;
	font-style: normal;
	color: $font-color-default;
}

.en-sacramento {
	font-family: 'Sacramento', serif;
	font-weight: 400;
	font-style: normal;
	color: $font-color-default;
}

:root {
	font-size: 0.9375em; // 15px when default is 16px

	@include for-range($mobile-md) {
		font-size: 1em;
	}

	@include for-range($mobile-lg) {
		font-size: 1.0625em; // 17px when default is 16px
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html {
	-webkit-text-size-adjust: 100%;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	background-color: $bg-color-1;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

input[type=text] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
}

button,
input[type="submit"],
input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

section {
	max-width: 600px;
	margin: auto;
}

